version: "3"

services: 
    microblog:
        build:
            context: .
            dockerfile: ./docker/Dockerfile.prod
        ports:
            - 5000:5000
        links:
            - database:database
        environment:
            - MYSQL_HOST=database
            - DATABASE_URL=mysql+pymysql://microblog:microblog@database:3306/microblog

    database:
        image: mysql:5.7
        environment: 
            - MYSQL_ROOT_PASSWORD=microblog
        ports: 
            - 3306:3306