version: 2.1

jobs:
  test:
    docker:
      - image: circleci/python:3.7

    working_directory: ~/test

    steps:
      - checkout
      - restore_cache:
          keys:
            - m2-{{ checksum "requirements/dev.txt" }}
            - m2- # used if checksum fails

      - run:
          name: Install dev dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install-dev

      - save_cache:
          key: m2-{{ checksum "requirements/dev.txt" }}
          paths:
            - venv
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            make test
  deploy:
    docker:
      - image: circleci/python:3.7

    working_directory: ~/deploy
    
    steps:
      - checkout
      
      - run:
          name: Install dev dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make install  
      
      - run:
          name: Copy code to azure server
          command: |
            tar -zcvf ../deploy.tar.gz .
            cat ../deploy.tar.gz | ssh $SSH_USER@$SSH_HOST "cat - | tar xvz --no-overwrite-dir -C $DEPLOY_PROJECT_PATH"
      
      - run:
          name: Deploy to azure via SSH
          command: |
            ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "supervisorctl restart microblog"
workflows:
  # test_app:
  #   jobs:
  #     - test
  deploy_to_azure:
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - master
                - circleci-project-setup